POSTGRES_DB=vacation_sheet_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-a-local-password

YANDEX_CLIENT_ID=replace-with-yandex-client-id
YANDEX_CLIENT_SECRET=replace-with-yandex-client-secret
YANDEX_REDIRECT_URI=http://localhost:8055/login/oauth2/code/yandex

APP_FRONTEND_URL=http://localhost:4200
ALLOWED_EMAIL_DOMAIN=
